<div class="add-post-form">
  <div class="card">
    <div class="card-header">Create new post</div>
    <div class="card-body">
      <div class="card-text">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="topic">Title</label>
            <input
              formControlName="title"
              type="text"
              class="form-control"
              id="title"
              placeholder="enter title"
            />
          </div>
          <div class="form-group">
            <label for="content">Post text</label>
            <input
              formControlName="content"
              class="form-control"
              type="text"
              value=""
              id="content"
              placeholder="enter post text"
            />
          </div>

          <div class="form-group">
            <label for="userId">Author</label>
            <select formControlName="userId" class="form-control" id="userId">
              @for (user of users; track user.id) {
              <option [value]="user.id">
                {{ user.surname + " " + user.name }}
              </option>
              }
            </select>
          </div>

          <div class="add-post-form__buttons">
            <button type="submit" class="btn btn-success">Submit</button>
            <button class="btn btn-secondary" (click)="onCloseClick()">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
