<div class="posts-container">
  <h4>Posts list:</h4>

  @if(showAddForm) {
  <div>
    <app-add-post-form
      [users]="(users$ | async) ?? []"
      (close)="onCloseFormClick()"
      (submitForm)="onSubmitFormClick($event)"
    />
  </div>
  } @else {
  <button
    type="button"
    class="btn btn-success posts-container__button"
    (click)="onAddClick()"
  >
    Add post
  </button>
  }

  <div class="posts-container__list">
    @if(posts.length > 0) { @for (post of posts; track post.id) {
    <app-tile
      [id]="post.id"
      [title]="post.title"
      [subtitle]="post.author"
      [content]="post.content"
      [showDeleteButton]="true"
      (delete)="onDeleteClick($event)"
    ></app-tile>
    } } @else {
    <div class="posts-container__no-data">No available posts</div>
    }
  </div>
</div>
